#box1 {
    width: 250px;
    height: 250px;
    background: red;
    font-size: 225px;
    text-align: center;
    /*  
    animation:mySlide;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 5s;

we can either use them inidividually 
or use this one line below
    */

    /* animation: 5s linear 0s infinite running mySlide; */
}
#box2 {
    width: 450px;
    height: 250px;
    background:pink;
    font-size: 225px;
    text-align: center;   
}
#box2:hover{
    /* added a pseudo class to it so it only 
    uses the animation when we hover on it */
    animation: 5s linear 0s infinite running mySlide;
}
#box1:active{
    /* workswhen we long press on it */
    animation: 5s linear 0s infinite running myRotate;
}
#box2{
    animation: 5s linear 0s infinite running myOpacity;
}
/* #box1{ 
    animation: 5s linear 0s infinite running myScale;
}*/
#box1{
    animation: 5s linear 0s infinite running myColors;
}

/* to use animations we need to create animations */

@keyframes mySlide {
    from {
        margin-left: 100px;
    }

    to {
        margin-left: 0%;
    }

}

@keyframes myRotate{
    100%{
        /* transform: rotateX(360deg);
        or
        transform: rotateY(360deg);
        or */
        transform: rotateZ(360deg);
    }
}

@keyframes myOpacity{
    50%{
       opacity: 0;
    }
}

@keyframes myScale{
    /* shrink and grow */
    50%{
        transform:scale(0.5,0.5)
    }
}

@keyframes myColors{
    0%{background-color: red;}
    20%{background-color: yellow;}
    40%{background-color: orange;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}

}