#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color: palevioletred;

    margin-left: 50px;
}
#box2{
     border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background-color:aqua;
}